<section class="board-password">
	<header>
		<h1>{$lang->msg_input_password}</h1>
	</header>
	<article>
		<form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="context_message">
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="page" value="{$page}" />
			<input type="hidden" name="document_srl" value="{$document_srl}" />
			<input type="hidden" name="comment_srl" value="{$comment_srl}" />
			<input type="password" name="password" title="{$lang->password}" placeholder="{$lang->password}" />
			<div class="B2-button-container">
				<input type="submit" class="B2-button B2-button-submit" href="#" value="{$lang->cmd_input}"/>
				<a class="B2-button B2-button-default" href="#" onclick="history.back();return false;">
					{$lang->cmd_back}
				</a>
			</div>
		</form>
	</article>
</section>
